Host wires-prod-bastion
    HostName 51.159.171.171
    User bastion
    Port 61000
    IdentityFile ~/.ssh/id_rsa

Host wires-prod-0
    HostName 172.16.12.2
    User root
    IdentityFile ~/.ssh/id_rsa
    ProxyJump wires-prod-bastion